@media only screen and (max-width: 988px){
    #main .itens img.pics, #main .itens{
        width: 450px;
        height: 450px;
    }
    button.control-btn{
        top: 210px;
    }
    .left-side .msg-box p.store, .left-side .msg-box p.storeds{
        margin-left: 10px;
    }
}

@media only screen and (max-width: 767px){
    .left-side{
        left: -50%;
        width: 50%
    }
    .left-side.active{
        left: 0;
    }
    #main .container{
        margin-left: 0;
    }
     #main .itens img.pics, #main .itens{
        width: 300px;
        height: 300px;
        margin-right: 10px;
    }
    #main .itens .item p.tdesc.price{
        bottom: 230px;
    }
    #main .itens .item p.tdesc.ttl{
        line-height: 25px;
    }
    button.control-btn{
        top: 90px;
    }
}

@media only screen and (max-width: 425px){
     .left-side{
        left: -70%;
        width: 70%
    }
}

@media only screen and (max-width: 375px){
    .left-side .msg-box p.store, .left-side .msg-box p.storeds{
        margin-left: 20px;
    }
}